.panel.panel-default.group-panel
  .panel-heading
    .panel-title.text-center #{group.name}
    .small.text-center Since #{datetime_for_view(group)}
  = link_to group_posts_path(group) do
    - if group.group_cover.blank?
      = image_tag("group_placeholder.jpeg", class: "img-responsive panel-image")
    - else
      = image_tag("#{group.group_cover.to_s}", class: "img-responsive panel-image")
  .panel-body
    %p.group-description #{group.description}
    %ul.group-info
      %li #{group.users.size} Members 
      %li #{group.posts.size} Messages
  .panel-footer
    = link_to 'Visit Group', group_posts_path(group), class: 'btn btn-default btn-block', id: "group_#{group.id}"
