.container
  =link_to 'Guides', group_guides_path 
  %br

  %h1.feature-title.text-center Forum
  %button.btn-success#group-create-button
    + Message
  = bootstrap_form_for(@post) do |f|
    = f.text_field :title
    = f.text_area :content
    = f.form_group :groups do
      = f.collection_check_boxes :group_ids, current_user.groups.all, :id, :name
    = f.submit "Post!"

  - @posts.each do |post|
    .media
      .media-left
        %a{:href => "#"}
          = image_tag("dog.png", class: "media-object resize")
        %small #{post.user.full_name.split(" ")[0]}
      .media-body
        %h4.media-heading #{post.title}
        .row
          .col-xs-11
            #{post.content}
          .col-xs-1
            %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
        .row        
          %small.date-in-posts #{datetime_for_view(post)}
