.row
  .col-xs-3
    = render "shared/sidebar"
  .col-xs-5.main-column
    = bootstrap_form_for(@user) do |f|
      = f.email_field :email
      = f.text_field :full_name
      = f.text_area :about, label: "About you", placeholder: "Write a little bit about yourself!"
      = f.password_field :password
      = f.file_field :avatar, class: 'btn btn-file'
      = f.submit "Update Profile!"
