.row
  .col-xs-3
    = render "shared/sidebar"
  .col-xs-8.main-column
    .row
      .col-xs-2
        - if @user.avatar.blank?
          = image_tag("placeholder.png", class: 'img-responsive')
        - else
          = image_tag("#{@user.avatar}", class: 'img-responsive')

        %p.text-center.member-name-show #{@user.full_name}
        %p.text-center.member-since Member since #{datetime_for_view(@user)}
      .col-xs-8
        - if @user.about
          %p.member-about-show #{@user.about}
        %p Groups: 
        %ul 
          - @user.groups.each do |group|
            %li.member-groups #{group.name} #{"(admin)" if @user.admin}
      .col-xs-2
        - if @user == current_user
          = link_to "Edit profile", edit_user_path(@user), class: "pull-right"
