.row
  .col-xs-3
    = render "shared/sidebar"
  .col-xs-8.main-column
    =link_to "Edit profile", edit_user_path(@user), class: "pull-right"
    .row
      .col-xs-2
        - if @user.avatar.blank?
          = image_tag("placeholder.png", class: 'img-responsive')
        - else
          = image_tag("#{@user.avatar}", class: 'img-responsive')
        %p.text-center #{@user.full_name}
      .col-xs-3
        %p Member since #{datetime_for_view(@user)}
        %p Groups: 
        %ul 
          - @user.groups.each do |group|
            %li
              = group.name
    .row
      %h3 #{@user.posts.size} Message(s)
      %hr
      -@user.posts.each do |post|
        .media
          .media-body
            %h4.media-heading #{post.title}
            .row
              .col-xs-11
                #{post.content}
              .col-xs-1
                %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
            .row        
              %small.date-in-posts #{datetime_for_view(post)} in: #{post.groups.map(&:name).join(" | ")}

