= render "navbar"
.row
  .col-xs-3
    = render "admin_link_bar"
  .col-xs-9
    %h1.feature-title.text-center Forum
    %button.btn-success#group-create-button
      + Message
    .media
      .media-left
        %a{:href => "#"}
          = image_tag("dog.png", class: "media-object resize")
      .media-body
        %h4.media-heading Media heading   
        .row
          .col-xs-11
            afaskjfkas fas fas faskl jfaslkfja slkfjaslkfjalskfjaskfja fjalkfjalkfj jakslfj aslkf lfjalkf ja akjfaklsfj sakl aslkfj slkdsaj k kldf ja lkfj saldjlskjf fkljsa flk ajsfksaj flkasj flkaj;faksjfasj fal;k fkalsjfalkj
          .col-xs-1
            %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
        
        .media
          .media-left
            %a{:href => "#"}
              = image_tag("dog.png", class: "media-object resize")
          .media-body
            %h4.media-heading Media heading   
            .row
              .col-xs-11
                afaskjfkas fas fas faskl jfaslkfja slkfjaslkfjalskfjaskfja fjalkfjalkfj jakslfj aslkf lfjalkf ja akjfaklsfj sakl aslkfj slkdsaj k kldf ja lkfj saldjlskjf fkljsa flk ajsfksaj flkasj flkaj;faksjfasj fal;k fkalsjfalkj
              .col-xs-1
                %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
                    
    .media
      .media-left
        %a{:href => "#"}
          = image_tag("dog.png", class: "media-object resize")
      .media-body
        %h4.media-heading Media heading   
        .row
          .col-xs-11
            afaskjfkas fas fas faskl jfaslkfja slkfjaslkfjalskfjaskfja fjalkfjalkfj jakslfj aslkf lfjalkf ja akjfaklsfj sakl aslkfj slkdsaj k kldf ja lkfj saldjlskjf fkljsa flk ajsfksaj flkasj flkaj;faksjfasj fal;k fkalsjfalkj
          .col-xs-1
            %span.glyphicon.glyphicon-heart{"aria-hidden" => "true"}
