= render "navbar"
.row
  .col-xs-3
    =render "admin_link_bar"
  .col-xs-9
    %h1.feature-title.text-center Groups
    %button.btn-success#group-create-button
      + Group
    .row
      .col-xs-3.feature
        .panel.panel-default
          .panel-heading
            .panel-title Some name
            .small Created at Feb 5 2015
          .panel-body
            = image_tag("dog.png", class: "img-responsive")
            %p Warehouse guides annoucements and other things. This stuff is going to be awesome
            %ul.group-info
              %li Members (56)
              %li Pending Lists (1)
              %li Messages (3)  
          .panel-footer
            %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} -> Visit Group  %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} Learn how to disagree 
      .col-xs-3.feature
        .panel.panel-default
          .panel-heading
            .panel-title Some name
            .small Created at Feb 5 2015
          .panel-body
            = image_tag("dog.png", class: "img-responsive")
            %p Warehouse guides annoucements and other things. This stuff is going to be awesome
            %ul.group-info
              %li Members (56)
              %li Pending Lists (1)
              %li Messages (3)  
          .panel-footer
            %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} -> Visit Group   %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} Learn how to disagree 
      .col-xs-3.feature
        .panel.panel-default
          .panel-heading
            .panel-title Some name
            .small Created at Feb 5 2015
          .panel-body
            = image_tag("dog.png", class: "img-responsive")
            %p Warehouse guides annoucements and other things. This stuff is going to be awesome
            %ul.group-info
              %li Members (56)
              %li Pending Lists (1)
              %li Messages (3)  
          .panel-footer
            %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} -> Visit Group
      .col-xs-3.feature
        .panel.panel-default
          .panel-heading
            .panel-title Some name
            .small Created at Feb 5 2015
          .panel-body
            = image_tag("dog.png", class: "img-responsive")
            %p Warehouse guides annoucements and other things. This stuff is going to be awesome
            %ul.group-info
              %li Members (56)
              %li Pending Lists (1)
              %li Messages (3)  
          .panel-footer
            %a.btn.btn-warning.btn-block{:href => "www.epoleo.com"} -> Visit Group             
