.media
  .media-left
    = link_to user_path(post.user) do
      - if post.user.avatar.blank?
        = image_tag("placeholder.png", class: "media-object resize")
      -else
        = image_tag("#{post.user.avatar}", class: "media-object resize")
    %small #{post.user.full_name.split(" ")[0]}
  .media-body
    %h4.media-heading #{post.title}
    .row
      .col-xs-11
        %span.post-content #{post.content}
      .col-xs-1.likes-column.text-center
        = link_to vote_group_post_path(@group, post), method: :post do
          - if current_vote(post, current_user) &&  current_vote(post, current_user).vote
            <i class="fa fa-heart"></i>
          - else
            <i class="fa fa-heart-o"></i>
        %br
        %span.likes-number #{number_of_likes(post)} 
    .row        
      %small.date-in-posts #{datetime_for_view(post)}

