.row
  .col-xs-3
    = render "shared/sidebar"
  .col-xs-8.main-column
    .row.text-center
      .col-xs-2
        = image_tag("#{@group.group_cover.to_s}", class: "group-image")
      .col-xs-10
        %p.title #{@group.name}
    .row.header-row
      .col-xs-10.extra-class
        %ul.group-navegation
          %li
            = link_to 'Messages', group_posts_path(@group) 
          %li
            = link_to 'Guides', group_guides_path(@group)
          %li
            = link_to 'Members', group_users_path(@group)
    .row
      .col-xs-12.add-messages
        %button.btn.btn-success#post-button
          + Post
        %div#post-form{class: "#{@post.errors.blank? ? 'hidden-form' : 'visible-form'}"}  
          = render 'posts/form'
        - @posts.each do |post|
          = render partial: 'posts/post', locals: {post: post}
