.container
  .row
    .col-xs-12
      %h1.feature-title.text-center Guides
      %button.btn-success#group-create-button
        + Guide
      = form_for([@group, @guide]) do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :description
          = f.text_field :description, class: 'form-control'
        .form-group
          = f.label :category
          = f.text_field :category, class: 'form-control'
        .form-group
          = f.label :content
          = f.text_area :content, class: 'form-control', rows: 6
        = f.submit 'Create Guide!', class: "btn btn-success btn-block" 
        %br
      - @guides.each_slice(4) do |guides|
        .row
          - guides.each do |guide|
            .col-xs-3
              = link_to group_guide_path(@group, guide), class: 'text-center thumbnail' do
                %p #{guide.title}
                %hr.top-guide-divisor
                %p #{guide.description}
                %hr.bottom-guide-divisor
                %p #{guide.category}
