.container
  %h1.text-center.guide-title-big #{@guide.title}
  %p.text-center #{@guide.description}
  %p.text-center.creation-details by #{@guide.admin.full_name} at #{datetime_for_view(@guide)}
  .content-container
    = simple_format(@guide.content)
