!!!
%html
  %head
    %title Firecamp
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Knewave", :rel => "stylesheet", :type => "text/css"}/
    = yield :head 
  %body
    = render "shared/navbar"
    = render "shared/flash_messages", flash: flash
    = yield
